{% extends 'web/base.html' %}
{% load staticfiles %}
{% block content %}
<h1> Events </h1>
<ul>
	{% for event in events %}
	<li><a href="{{ event.id }}"> {{ event.location }} </a></li>
	{% endfor %}
</ul>

<div id="map" style="height: 80%"></div>
<script>
function initMap() {
	var map = new google.maps.Map(document.getElementById('map'), {
center: {lat: -34.397, lng: 150.644},
zoom: 6
});
var infoWindow = new google.maps.InfoWindow({map: map});
var geocoder = new google.maps.Geocoder();

// Try HTML5 geolocation.
if (navigator.geolocation) {
	navigator.geolocation.getCurrentPosition(function(position) {
			var pos = {
lat: position.coords.latitude,
lng: position.coords.longitude
};

// change this to geocoded address of all events
// var ltlng = [];

// Geocoding attempt
var event_data = {{ event_data|safe }};
for (object in event_data) {
geocoder.geocode({'address': event_data[object].fields.location}, function(results, status) {
	if (status === google.maps.GeocoderStatus.OK) {
	var marker = new google.maps.Marker({
position: results[0].geometry.location,
map: map
})
	} else {
	alert('Geocode was not successful for the following reason: ' + status);
	}
	})
}

map.setCenter(pos);

}, function() {
	handleLocationError(true, infoWindow, map.getCenter());
});
} else {
	// Browser doesn't support Geolocation
	handleLocationError(false, infoWindow, map.getCenter());
}
}

function handleLocationError(browserHasGeolocation, infoWindow, pos) {
	infoWindow.setPosition(pos);
	infoWindow.setContent(browserHasGeolocation ?
			'Error: The Geolocation service failed.' :
			'Error: Your browser doesn\'t support geolocation.');
}
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDKt02goLexj09dB43nbCBs5arUzzu5N20&signed_in=true&callback=initMap"
async defer>
</script>
{% endblock content %}
