{% extends 'web/base.html' %}
{% load staticfiles %}
{% block content %}
<!-- Draft up of user creation form-->
<element title="text">New user</element>
<script>
function statusChangeCallback(response) {
	console.log('statusChangeCallback');
	console.log(response);
	if (response.status === 'connected') {
		// Logged into your app and Facebook.
		document.getElementById('status').innerHTML = 'Logged into Facebook.';
		document.getElementById('logout_button').disabled = false;
	} else if (response.status === 'not_authorized') {
		// The person is logged into Facebook, but not your app.
		document.getElementById('status').innerHTML = 'Please log into this app.';
		document.getElementById('logout_button').disabled = true;
	} else {
		document.getElementById('status').innerHTML = 'Please log into Facebook.';
		document.getElementById('logout_button').disabled = true;
	}
}

function checkLoginState() {
	FB.getLoginStatus(function(response) {
			statusChangeCallback(response);
			});
}

function logout() {
	FB.logout(function(response) {
			statusChangeCallback(response)
			});
}

window.fbAsyncInit = function() {
	FB.init({
appId      : '1693451077558370',
xfbml      : true,
version    : 'v2.5'
});

FB.getLoginStatus(function(response) {
		statusChangeCallback(response);
		});
};

window.onload = function() {
	document.getElementById('logout_button').onclick = logout;
};

(function(d, s, id){
 var js, fjs = d.getElementsByTagName(s)[0];
 if (d.getElementById(id)) {return;}
 js = d.createElement(s); js.id = id;
 js.src = "//connect.facebook.net/en_US/sdk.js";
 fjs.parentNode.insertBefore(js, fjs);
 }(document, 'script', 'facebook-jssdk'));
</script>

<form action="{% url 'new_user' %}" method="post">
	{% csrf_token %}
	{{ form }}
	<input type="submit" value="Submit" />
</form>
<fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
</fb:login-button>

<button id="logout_button" disabled>Log out of FB</button>

<div id="status">
</div>
{% endblock content %}
